@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);






#header1-1 H1 {
  color: #ffffff;
  font-size: 72px;
}
#header1-1 P {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}
#header1-1 .btn {
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-3 .mbr-section-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#content5-2 .mbr-section-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#content5-2 P {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-n .mbr-section-title {
  color: #d9534f;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-n SPAN {
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#footer1-q P {
  text-align: center;
}



#header1-13 H1 {
  color: #ffffff;
  font-size: 72px;
}
#header1-13 P {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}
#header1-13 .btn {
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-12 .mbr-section-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header3-u H3 {
  text-align: center;
}
#content1-v P {
  text-align: center;
}
#form1-t .mbr-section-title {
  color: #ffffff;
}
#form1-t .mbr-section-title B {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-size: 60px;
}
#footer1-q P {
  text-align: center;
}


#header1-13 H1 {
  color: #ffffff;
  font-size: 72px;
}
#header1-13 P {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}
#header1-13 .btn {
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-11 .mbr-section-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#footer1-y P {
  text-align: center;
}






#header1-12 H1 {
  color: #ffffff;
  font-size: 72px;
}
#header1-12 P {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}
#header1-12 .btn {
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-z .mbr-section-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-y .mbr-section-title {
  color: #d9534f;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-y SPAN {
  font-size: 60px;
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-1a .mbr-section-title {
  color: #d5f4f0;
}
#msg-box1-14 H2 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box1-14 .btn {
  font-family: 'Titillium Web', sans-serif;
}
#footer1-z P {
  text-align: center;
}


#header1-11 H1 {
  color: #ffffff;
  font-size: 72px;
}
#header1-11 P {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}
#header1-11 .btn {
  font-family: 'Playfair Display', sans-serif;
}
#social-buttons2-10 .mbr-section-title {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#footer1-10 P {
  text-align: center;
}
